# Скопируйте в .env и укажите IP вашего компьютера.
# Узнать IP: ipconfig (Windows) или ifconfig (Mac/Linux)
# Android-эмулятор: http://10.0.2.2:3000
# Реальное устройство (телефон): http://192.168.x.x:3000
EXPO_PUBLIC_API_URL=http://10.10.10.31:3000
